<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/styles.css">

    <title>Detalle de Proyecto 1</title>
</head>
<body>
    <header class="header">
        <nav> 
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                
                <li class="header__link--active">
                    <a href="#">Proyectos</a>
                </li>
                
                <li>
                    <a href="./aprendizaje.html">Aprendizaje</a>
                </li>
                

                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>  
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1 class="main__titulo">Proyecto 1</h1>

        <section class="detalle">
            <div class="detalle__tecnologias">
                <img class="detalle_img" src="../assets/img/example.jpeg" alt="Imagen principal del proyecto">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                </ul>
            </div>
            <div class="detalle__descripcion">
                 
            <h3>Detalle del proyecto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed odit aperiam reprehenderit sapiente officiis, cumque ex vel tenetur. Tempore inventore harum reiciendis exercitationem! Nulla deleniti soluta necessitatibus ut illum?</p>
            </div>
        </section>
    </main>
    <footer>
        <label for="">FOOTER</label>
    </footer>
</body>
</html>