<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="hospital,niños,payasos,civiles,amor,compartir,juegos,medicos,salud"/>

  <meta name="author" content="Leandro Saubiette" />

  <meta http-equiv="cache-control" content="no-cache"/>

  <meta name="description" content="La ONG Los Payas son una ong autogestiva e independiente la cual hace voluntariado en el Hospital Materno Infantil de la ciudad de Mar del Plata">

  <!--Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

  <!--Fuentes-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  
  <!--BOOTSTRAP-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!--AOS-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/mediaquery.css">

    <title>Detalle de Proyecto 1</title>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="nav__contenedor">
              <a class="navbar-brand text-light" href="#">Menu</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link  text-light" aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-light  header__link--active" aria-current="page" href="./proyectos.html">Proyectos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  text-light" aria-current="page" href="./aprendizaje.html">Aprendizaje</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="./contacto.html">Contacto</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
    </header>


    <main class="main">
        <h1 class="main__titulo">Desarrollo web Ong Los Payas</h1>

        <section class="detalle">
            <div class="detalle__tecnologias mx-auto">
                <img class="detalle_img mx-auto" src="../assets/img/los_payas.png" alt="Imagen principal del proyecto">
                <ul class="text-center align-baseline mx-auto">
                  <li data-toggle="tooltip"  title="Angular" ><img src="../assets/img/angular.png" alt="Angular"></li>
                  <li data-toggle="tooltip"  title="Javascript" ><img src="../assets/img/js.png" alt="Javascript"></li>
                  <li data-toggle="tooltip"  title="HTML 5" ><img src="../assets/img/html5.png" alt="HTML5"></li>
                  <li data-toggle="tooltip"  title="CSS3" ><img src="../assets/img/css.png" alt="CSS3"></li>
                  <li data-toggle="tooltip"  title="PHP" ><img src="../assets/img/php.png" alt="PHP"></li>
              </ul>
            </div>
            <div class="detalle__descripcion mt-5">
                 
            <h3>Detalle del proyecto</h3>
            <p>Los Payas es una ONG de la ciudad de Mar del Plata que trabaja en el hospital Materno Infantil con paciente menores, la cual cuenta con voluntarios los cuales poseen 2 roles, el rol del payaso y el civil (cuidador del juego del payaso y que se encarga de la seguridad tanto del payaso como el paciente y su familia)</p>
            <p>Se desarrolla una web para darle visibilidad al trabajo de la ong y a su vez que puedan recibir donaciones tanto por única vez como que se debiten automáticamente todos los meses. Esto ayuda a que la ONG subsista y ademas pueda crecer</p>
            </div>

            <label><span style="font-weight: 600;">URL:</span> <a target="_blank" href="https://www.lospayas.org.ar/#/home">ONG Los Payas</a></label>
        </section>
    </main>

    <hr>

    <footer>
      <label for="">saubietteleandro@gmail.com</label>
        <label for="">+549111111111</label>
        <a href="https://github.com/lea89" _target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://gitlab.com/lendor07" target="_blank"><i class="fab fa-gitlab"></i></a>
      </footer>

       <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   


    <!--Bootstrap-->

      <script>
            $(document).ready(() =>{
              $('[data-toggle="tooltip"]').tooltip();
            });
          </script>
    
</body>
</html>