<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="proyectos, experiencia, remoto, aplicaciones, web,sistemas,gestion"/>

  <meta name="author" content="Leandro Saubiette" />

  <meta http-equiv="cache-control" content="no-cache"/>

  <meta name="description" content="En este enlace veremos los desarrollos realizados, en los cuales ingresando a cada uno se conocerá mas detallademente">


  <!--Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

  <!--Fuentes-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  
  <!--BOOTSTRAP-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!--AOS-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/mediaquery.css">

    <title>Lean Saubiette - Proyectos</title>
</head>



<body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="nav__contenedor">
          <a class="navbar-brand text-light" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link  text-light" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-light  header__link--active" aria-current="page" href="#">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-light" aria-current="page" href="./aprendizaje.html">Aprendizaje</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="./contacto.html">Contacto</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="main">
        <h1 class="main__titulo">Te presento mis proyectos</h1>

        <section class="proyectos">
            <a href="./emergenciapp.html">
                <img class="proyectos__img" src="../assets/img/emergenciapp.png" alt="App EmergenciApp">
                <label for="">Emergenciapp</label>
            </a>

            <a href="./tutipic.html">
                <img class="proyectos__img" src="../assets/img/tutipic.jpeg" alt="App Tutipic">
                <label for="">Tutipic</label>
            </a>
            
            <a href="./lospayas.html">
                <img class="proyectos__img" src="../assets/img/los_payas.png" alt="Web Los Payas">
                <label for="">ONG Los Payas</label>
            </a>

            <a href="./clubtelefonos.html">
                <img class="proyectos__img" src="../assets/img/club_telefonos.png" alt="Club Telefonos MDP">
                <label for="">Club Telefonos MDP</label>
            </a>

        </section>
    </main>
    
    <hr>

    <footer>
      <label for="">saubietteleandro@gmail.com</label>
      <label for="">Celular:+549111111111</label>
      <a href="https://github.com/lea89" _target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://gitlab.com/lendor07" target="_blank"><i class="fab fa-gitlab"></i></a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>