.titulo-aprendizaje{
    color:white;
    text-align: center;
    margin: 2rem;
}

.aprendizaje{
    @include displayGrid(1fr,1,0.5rem);

    padding: 1rem;

    &__item{
        @include displayFlex(default,2rem);

        margin: auto;
        align-items: center;
        max-width: 900px;

        h3{
            color:white;
        }
        
        &:nth-child(even){
            flex-direction: row-reverse;
        }
    }

    &__texto{
        grid-column: 2/4;
        width: 80%;
    
        label{
            color: lightgray;
        }
    }
    &__img{
        width: 35%;
    }
    
    &__parrafo{
        background-color: lightgray;
        padding: 10%;
        margin-top: 3%;
    }
}




