.contacto{

    @include displayFlex(space-around,default);

    &__formulario{

        @include displayGrid(1fr,2,0.5rem);
        
        input{
            border-style: none;
            border-radius: 5px;
            padding: 1% 5%;

            &:focus{
                border-style: none;
            }
        }
    
        input[name="email"],input[name="telefono"],textarea{
            grid-column: 1/3;
        }
    
        input[name="telefono"]{
            width: 50%;
        }
    }
    &__img{
        display: none;
    }
}

