.contacto{

    @include displayFlex(space-around,default);
    
    

    &__formulario{
        background-color: lightgray;
        padding: 2%;
        @include displayGrid(1fr,2,0.5rem);
        
        input{
            border-style: none;
            border-radius: 5px;
            padding: 1% 5%;

            &:focus{
                border-style: none;
            }
        }
    
        input[name="email"],input[name="telefono"],textarea{
            grid-column: 1/3;
        }
    
        input[name="telefono"]{
            width: 50%;
        }

        button{
            background-color: $details-color;
            color: white;
            font-family: 'Roboto';
            grid-column: 1/3;
            &:hover{
                color:$details-color;
                background-color: white;
                font-size: 1rem;
            }
        }
    }
    &__img{
        display: none;
    }
}

