.detalle{
    padding: 2rem;
    @include displayFlex('',0,column);

            a{
                color:$details-color !important;
    }
&__tecnologias{
    @include displayFlex('',2rem,column);
    width: 90%;


    img{
        width: 25%;
    }

    ul{
        border: 1px solid lightgray;
        
        @include displayFlex();

        width: 45%;
        margin: auto 0;
        align-items: center;

        li{
            list-style: none;

            img{
                width: 50%;
             }
         }
    }
}

    &__descripcion{
        padding:1%;
        h3{
        color: $details-color;
        }
    } 

}