footer{
    @include displayFlex(space-around,0);
    padding: 2%;
    align-items: center;
    color: white;
}

footer .fa-github, 
footer .fa-gitlab{
    font-size: 30px;
    color: white;
    vertical-align: super;
}