footer{
    @include displayFlex(space-around,0);

    align-items: center;
    color: white;
    height: 4vh;
}

footer .fa-github, 
footer .fa-gitlab{
    font-size: 30px;
    color: white;
    vertical-align: super;
}