body{
    background-color: $background-color;
    overflow-x: hidden;
}

hr{
    color: $details-color!important;
    height: 5px!important;
}

h1,h2{
    text-align: center;
    margin: 2% auto;
    color: white;
}

a{
    color: white!important;
    text-decoration: none;
    &:hover{
        color:$primary;
        
    }
}
