/** Inicio Header **/
.navbar-brand{
    display:none;
}
nav,footer {
    background-color: $background-color!important;

    @include displayFlex(center,0);
    padding: 2%;
    background-color: $details-color!important;
}

.nav__contenedor{
    margin: auto;
}

nav 
{
    ul{
    width: auto;
    text-align: center;

        li{
            display: inline-block;

            a{
                text-decoration: none;
                color:white;
                animation-name:border-nav;

                &:hover{
                    border-bottom: 1px solid $primary;
                    color:$primary;
                }
            }
        }
    }
}


.header{
    &__link{
        &--active{
                color: $primary!important;
        }
    }
}

/** Fin Header **/