.main {
    .presentacion {
        align-items: center;
        background-color: #EFEFEF;
        display:flex;
        flex-direction: row;
        perspective: 100rem;
        height: 71vh;
        background-image: url(../img/fondo.webp);
        background-size: cover;
    }
}

.main {
    .presentacion {
        img{
            display: block;
            width: 25%;
            height: 100%;
        }
    }
}


.tecnologias{
    text-align: center;
}

.tecnologias__titulo{
    margin: 5% auto;
}

.tecnologias__contenedor, .frameworks__contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #276E90;
    padding:2% 0!important;
}

.tecnologias__contenedor{
     .carousel{
        height: 45vh;
    }
}

.tecnologias__titulo,
.frameworks__titulo{
    color: white;
}

.tecnologias__img{
    width: 15%;
}

.frameworks__img{
    width: 10%;
}

.tecnologias__img:hover,
.frameworks__img:hover{
    transform: scale(1.2)!important;
}