.main {
    padding:1rem;

    .presentacion {
        align-items: center;
        background-color: #EFEFEF;
        display:flex;
        flex-direction: row;
        perspective: 100rem;
        height: 71vh;
        background-image: url(../img/fondo.webp);
        background-size: cover;

        .texto{
            background-color:rgba(210, 210, 210, 0.5);
            text-align: center;
            margin-left: 15%;
            width: 25%;
            color:white;
            padding:2rem;
        }

        img{
            display: block;
            width: 25%;
            height: 100%;
        }
    }
}


.tecnologias{
    
    text-align: center;
    margin: auto;

    .carousel{
        
        width: 90%;
        margin: auto;
        height: 45vh;

        button{
            span{
                background-color: $details-color;
            }
        }
        &__img{
            width: 10%;
            &:hover{
                transform: scale(1.2)!important;
            }
        }

        &-indicators{
            button{
            background-color: $details-color;
                
            }
        }

    }
}



.frameworks{

    &__contenedor{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding:2% 0!important;
    }
     
    &__img{
        width: 10%;
        &:hover{
                transform: scale(1.2)!important;
        }
    }

}