.proyectos {
    width: 90%;
    @include displayGrid(1fr,3,50px,center);

    margin: auto;

    & a {
        width: 60%;
        text-align: center;
        transition: all 1s;
        align-self: flex-end;
        img{
            vertical-align: baseline;
        }
        &:hover{
            transform: scale(1.2);
        }
    }

    & label{
        display: block;
        color: $details-color;
    }
}

.proyectos__img{
    width: 75%;
}
