.proyectos {
    width: 90%;
    @include displayGrid(1fr,50px,center);

    margin: auto;

    & a {
        width: 60%;
        text-align: center;
        transition: all 1s;

        &:hover{
            transform: scale(1.2);
        }
    }

    & label{
        display: block;
    }
}

.proyectos__img{
    width: 100%;
}
