@media screen and (max-width: 1024px) {
    nav{
        padding:2%;
        font-size:30px;
    }


    .nav__contenedor{
        display: contents;
        padding: 1%;
    }

    .navbar-nav{
        margin:auto;
    }

    nav  ul  li{
        width: max-content;
        margin: auto;
    }

    .main .presentacion img{
        width: auto;
    }

    .tecnologias__img,
    .frameworks__img{
        width: 15%;
    }

    .aprendizaje__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aprendizaje__subtitulo {
        font-size: 35px;
        margin-bottom: 5%;
        color: white;
    }

    .aprendizaje__img{
        width: 60%;
    }

    .aprendizaje__parrafo{
        margin-top:2%;
        padding:5%;
        font-size: 20px;
    }
    .aprendizaje__texto label{
        font-size: 30px;
    }
}
@media screen and (max-width: 768px) {


    .navbar-brand{
        display: contents;
        margin-left:1%;
    }

    .tecnologias__img,
    .frameworks__img{
        width: 25%;
    }



    .aprendizaje__item .aprendizaje__img{
        margin: 10%;
    }

    footer label{
        font-size: 25px;
    }
}

@media screen and (max-width: 425px) {
    nav{
        flex-direction: row;
        padding: 5%;
    }


    .main .presentacion {
        height: 31vh;
        background-repeat:  no-repeat;
    }

    

    .tecnologias__img,
    .frameworks__img{
        width: 20%;
    }

    .aprendizaje__img{
        width: 70%;
    }

    footer a  {
        padding: 0% 5%;
        font-size: 8px;
    }

    footer label{
        font-size: 12px;
    }

    footer .fa-github, footer .fa-gitlab{
        font-size: 30px;
    }
}