body{
    background-color: #276E90;
    font-family: Roboto;
}

hr{
    color: #F2AA1F!important;
    height: 5px!important;
}

/** Iniicio Propiedades compartidas **/

.main__titulo{
    text-align: center;
    margin: 2% auto;
}

/** Iniicio Propiedades compartidas **/

/** Inicio Header **/
.navbar-brand{
    display:none;
}
nav,footer {
    background-color: #276E90!important;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.nav__contenedor{
    margin: auto;
}

nav ul{
    width: auto;
    text-align: center;
}

nav  ul  li{
    display: inline-block;
}

nav  ul  li a{
    text-decoration: none;
    color:#EFEFEF;
    animation-name:border-nav;
}


nav  ul  li a:hover{
    border-bottom: 1px solid #F2AA1F;
    color:white;
}

.header__link--active{
    color: #F2AA1F!important;
}

/** Fin Header **/

.main .presentacion {
    align-items: center;
    background-color: #EFEFEF;
    display:flex;
    flex-direction: row;
    perspective: 100rem;
    height: 71vh;
    background-image: url(../img/fondo.webp);
    background-size: cover;
}

.main .presentacion img{
    display: block;
    width: 25%;
    height: 100%;
}


.tecnologias{
    text-align: center;
}

.tecnologias__titulo{
    margin: 5% auto;
}

/** Aca me costo hacer que los hijos no desbordaran **/

.tecnologias__contenedor,.frameworks__contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #276E90;
    padding:2% 0!important;
}


.tecnologias__titulo,
.frameworks__titulo{
    color: white;
}

.tecnologias__img,
.frameworks__img{
    width: 10%;
}

.tecnologias__img:hover,
.frameworks__img:hover{
    transform: scale(1.2)!important;
}

/** FIN INDEX **/

/** Inicio Proyectos **/

.proyectos{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}

/** Siempre tengo que darle un width para poder armar la cuadricula sea a la etiqueta a como a la imagen? **/
.proyectos a {
    width: 20%;
    text-align: center;
    transition: all 1s;
}

.proyectos a:hover{
    transform: scale(1.2);
}

.proyectos__img{
    width: 100%;
}

.proyectos label{
    display: block;
}
/** Fin Proyectos **/

/** Inicio aprendizaje**/
.titulo-aprendizaje{
    text-align: center;
    margin: 2rem;
}

.aprendizaje{
    display: grid;
    gap:2rem;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    padding: 1rem;
}
.aprendizaje__item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.aprendizaje__texto{
    grid-column: 2/4;
    width: 80%;
}
.aprendizaje__img{
    width: 80%;
}

.aprendizaje__parrafo{
    margin: 2rem auto;
}

.aprendizaje__texto label{
    color: lightgray;
}

/**Fin aprendizaje**/

/**Inicio Contacto**/
.contacto{
    display: flex;
    justify-content: space-around;
}

.contacto__formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    padding: 5rem;
}

/**Fin Contacto**/

/**Inicio Detalle proyecto**/
.detalle{
    display: flex;
    flex-direction: column;
}

.detalle__tecnologias{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(4,1fr);
}

.detalle__tecnologias ul{
    border: 1px solid lightgray;
    grid-column: 3/4;
    width: max-content;
    margin: auto 0;
}

.detalle_img {
    grid-column: 1/3;
    width: 100%;
    margin: auto;
}

.detalle__tecnologias ul li{
    font-size: 12px;
    padding: 1rem 3rem;
    list-style: none;
}

.detalle__descripcion{
    padding: 2rem 0;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 4vh;
}

footer .fa-github, 
footer .fa-gitlab{
    font-size: 50px;
    color: white;
}