/** Inicio Header **/
.navbar-brand {
  display: none;
}

nav, footer {
  background-color: #276E90 !important;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.nav__contenedor {
  margin: auto;
}

nav ul {
  width: auto;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: #EFEFEF;
  animation-name: border-nav;
}
nav ul li a:hover {
  border-bottom: 1px solid #F2AA1F;
  color: white;
}

.header__link--active {
  color: #F2AA1F !important;
}

/** Fin Header **/
body {
  background-color: #276E90;
  font-family: Roboto;
  overflow-x: hidden;
}

hr {
  color: #F2AA1F !important;
  height: 5px !important;
}

h1 {
  text-align: center;
  margin: 2% auto;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #F2AA1F;
}

.main .presentacion {
  align-items: center;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: row;
  perspective: 100rem;
  height: 71vh;
  background-image: url(../img/fondo.webp);
  background-size: cover;
}

.main .presentacion img {
  display: block;
  width: 25%;
  height: 100%;
}

.tecnologias {
  text-align: center;
}

.tecnologias__titulo {
  margin: 5% auto;
}

.tecnologias__contenedor, .frameworks__contenedor {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #276E90;
  padding: 2% 0 !important;
}

.tecnologias__contenedor .carousel {
  height: 45vh;
}

.tecnologias__titulo,
.frameworks__titulo {
  color: white;
}

.tecnologias__img {
  width: 15%;
}

.frameworks__img {
  width: 10%;
}

.tecnologias__img:hover,
.frameworks__img:hover {
  transform: scale(1.2) !important;
}

.proyectos {
  width: 90%;
  display: grid;
  gap: 50px;
  margin: auto;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.proyectos a {
  width: 60%;
  text-align: center;
  transition: all 1s;
}
.proyectos a:hover {
  transform: scale(1.2);
}
.proyectos label {
  display: block;
}

.proyectos__img {
  width: 100%;
}

.titulo-aprendizaje {
  color: white;
  text-align: center;
  margin: 2rem;
}

.aprendizaje {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  padding: 1rem;
}

.aprendizaje__item {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.aprendizaje__item h3 {
  color: white;
}

.aprendizaje__texto {
  grid-column: 2/4;
  width: 80%;
}
.aprendizaje__texto label {
  color: lightgray;
}

.aprendizaje__img {
  width: 80%;
}

.aprendizaje__parrafo {
  background-color: lightgray;
  padding: 10%;
  margin-top: 3%;
}

.contacto {
  display: flex;
  justify-content: space-around;
}

.contacto__formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.contacto__formulario input {
  border-style: none;
  border-radius: 5px;
  padding: 1% 5%;
}
.contacto__formulario input:focus {
  border-style: none;
}
.contacto__formulario input[name=email], .contacto__formulario input[name=telefono], .contacto__formulario textarea {
  grid-column: 1/3;
}
.contacto__formulario input[name=telefono] {
  width: 50%;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 4vh;
}

footer .fa-github,
footer .fa-gitlab {
  font-size: 30px;
  color: white;
  vertical-align: super;
}

/*# sourceMappingURL=style.css.map */
